services:
  db:
    image: postgres:15
    container_name: mess_registration_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mess_registration
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: mess_registration_backend
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_HOST: db # override local host -> docker service name
    ports:
      - "8080:8080"

volumes:
  postgres_data:
