@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-custom-orange: #f05a25;
	--color-custom-black: #121212;
	--color-custom-mid-grey: #303030;
	--color-custom-dark-grey: #292929;
	--color-custom-light-grey: #979797;
	--color-custom-lighter-grey: #f1f1f1;
	--color-custom-green: #00ff2f;
	--color-custom-red: #ff0004;
	--color-custom-off-white: #f8f8f8;
}
